Repository HYF-Class20/agile-development-group2-loruki, pull requests merged in 2023-04, with the labels that each got.

#10 renaming user personas branch
  planning/user-personas.md
Labels: bug

#18 Planning : Backlog.md : Fixing a nested branch
  planning/backlog.md
Labels: documentation, planning, md

#21 planning:communication-md:update
  planning/communication.md
Labels: documentation

#23 Planning/design md
  package-lock.json
  planning/assets/docs.jpg
  planning/assets/features.jpg
  planning/assets/home.jpg
  planning/design.md
Labels: documentation, md, img

#25 Planning:update : constraints.md
  planning/constraints.md
Labels: documentation, md

#30 planning:fix bug constraints.md
  planning/constraints.md
Labels: bug, documentation, md

#33 planning: Adding words University to user personas #2: User personas
  planning/user-personas.md
Labels: documentation, planning, md

#34 Planning: Revision and put more specific details : Backlog
  planning/backlog.md
Labels: documentation, planning, md

#39 Planning : updating on #Technology : Contstraints.md
  planning/constraints.md
Labels: documentation, md

#40 Planning : Update #Technology & #Contributors: README.md
  README.md
Labels: documentation, md

#41 planning: renew retrospective to this week project : retrospective.md
  planning/retrospective.md
Labels: documentation, planning, md

#45 1-title-navbar-adding title & navbar to index.html
  index.html
Labels: Code HTML

#48 3-Statistics-add Statistics to index.html
  index.html
Labels: documentation, Code HTML

#54 Code : Fixing Bugs in line 67-70 : 5-languages-footer : index.html
  index.html
Labels: bug, documentation, Code HTML

#52 Code : Fixing bug in line 60 : 2-showcase : index.html
  index.html
Labels: bug, documentation, Code HTML

#56 3-Statistics- update Statistics to index.html
  index.html
Labels: documentation, Code HTML

#58 Code : Adding CLI and Cloud areas : 4-cli-cloud : index.html
  images/cli.png
  images/cloud.png
  images/docs.png
  images/favicon.png
  images/logos/clojure.png
  images/logos/csharp.png
  images/logos/go.png
  images/logos/node.png
  images/logos/php.png
  images/logos/python.png
  images/logos/ruby.png
  images/logos/scala.png
  images/npm.png
  images/server.png
  images/server2.png
  index.html
Labels: documentation, Code HTML

#62 languages-footer-update copyright year and solving conflict 2 in footer to index.html
  index.html
Labels: documentation, Code HTML

#64 style-css-add-style.css
  styles/index.css
  styles/style.css
Labels: Code CSS

#28 Planning:creating :development strategy
  planning/assets/screenshot-backlog.jpeg
  planning/development-strategy.md
Labels: documentation, md
